.card-container {
    border: 2px solid white;
    border-radius: 5px;
    width: fit-content;
    max-width: 23rem;
    min-width: 23rem;
    padding: 0.5rem;
    color: white;
  }
  
  .card-footer p {
      font-weight: 600;
  }
  
  .card-footer span {
      font-weight: 400;
  }
  